<!DOCTYPE html>
<html lang="de">

<head>
    {% include "./components/head.njk" %}
    <title>KW³ | Copy Trading</title>
    <meta name="description" content="Ich trade. Du folgst. Dein Konto wächst.">


</head>

<body>

    <div class="wrapper">

        <!-- Kopfleiste -->
        {% include "./components/nav.njk" %}
        <!-- MAIN TEASER -->

        <div>

            <div class="main-teaser main-teaser__page-copy-trading">

                <h1 class="main-teaser__heading">Folge meinen Copy Trading Account</h1>
                <p class="main-teaser__text">Du möchtest einem Profi-Trader folgen?
                    Ich bin World Cup Advisor und trade auf meinem World Championship Account.
                    Meine Trades werden eins-zu-eins auf deinem Konto ausgeführt.<br>
                    <a href="/de/kommt-bald" class="button">Jetzt Konto eröffnen</a>
                </p>
            </div>
        </div>





        <!-- CONTENT PROBLEMS-SOLUTIONS -->

        <section>
            <div class="row  box--grey-background  box--desktop">
                <div class="wrapper-content">
                    <div class="column full  column__col">
                        <h2 class="box__heading--center">Mühelos erfolgreich Traden</h2>
                        <p class="box__text--center">Ich nehme jedes Jahr an der Trading Weltmeisterschaft teil. Ich
                            starte mit 25.000$.
                            Wenn du ebenfalls <strong>25.000$</strong> hast, kannst du mir folgen.
                            Meine Trades werden auch auf deinem Konto ausgeführt - Copy Paste eben.
                            Die jährliche Rendite liegt
                            bei über 50%, denn ich möchte jedes Jahr unter den Top 5 sein.</p>
                    </div>

                    <div class="row  column--full-smaller">
                        <div class="column  column__col  column__third--smaller">
                            <h4 class="box__heading-fourth--center">Jahres Rendite</h4>
                            <p class="box__text--smaller">Trading World Cup<br>2021/2022</p>
                            <p class="box__text--big-color">64,1%</p>
                        </div>
                        <div class="column   column__col  column__third--smaller">
                            <h4 class="box__heading-fourth--center">Startkapital</h4>
                            <p class="box__text--smaller">Trading World Cup<br>2021/2022</p>
                            <p class="box__text--big-color">25.000$</p>
                        </div>
                        <div class="column  column__col  column__third--smaller">
                            <h4 class="box__heading-fourth--center">Endkapital</h4>
                            <p class="box__text--smaller">Trading World Cup<br>2021/2022</p>
                            <p class="box__text--big-color">41.025$</p>
                        </div>
                    </div>
                </div>
        </section>


        <!-- CONTENT PROBLEMS-SOLUTIONS Mobile-->

        <section>
            <div class="row  box--grey-background  box--mobile">
                <div class="wrapper-content">
                    <div class="column full  column__col">
                        <h2 class="box__heading--center">Mühelos erfolgreich Traden</h2>
                        <p class="box__text--center">Ich nehme jedes Jahr an der Trading Weltmeisterschaft teil. Ich
                            starte mit 25.000$.
                            Wenn du ebenfalls <strong>25.000$</strong> hast, kannst du mir folgen.
                            Meine Trades werden auch auf deinem Konto ausgeführt - Copy Paste Trading eben.
                            Die jährliche Rendite liegt
                            bei über 50%, denn ich möchte jedes Jahr unter den Top 5 sein.</p>
                    </div>

                    <div class="row ">
                        <div class="column  column__col  column__third--smaller">
                            <h4 class="box__heading-fourth--center">Jahres Rendite</h4>
                            <p class="box__text--smaller">Trading World Cup<br>2021/2022</p>
                            <p class="box__text--big-color">64,1%</p>
                        </div>
                        <div class="column   column__col  column__third--smaller">
                            <h4 class="box__heading-fourth--center">Startkapital</h4>
                            <p class="box__text--smaller">Trading World Cup<br>2021/2022</p>
                            <p class="box__text--big-color">25.000$</p>
                        </div>
                        <div class="column  column__col  column__third--smaller">
                            <h4 class="box__heading-fourth--center">Endkapital</h4>
                            <p class="box__text--smaller">Trading World Cup<br>2021/2022</p>
                            <p class="box__text--big-color">41.025$</p>
                        </div>
                    </div>
                </div>
        </section>




        <!-- QUOTE -->

        <section>
            <blockquote class="quote  quote__page-copy-trading">
                Fokus. Fokus. Fokus. Trade ohne Angst und ohne Gier.
            </blockquote>
        </section>




        <!-- PRODUCT DETAILS -->

        <section>
            <div class="row row--no-background">
                <h2 class="column__heading">Was meine Trading Strategie auszeichnet</h2>
                <div class="column fourth  column__col">
                    <img src="/images/icon-bowling.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Strategie mit Regelwerk</h3>
                    <p class="column__text">Ich handel nach der Swing Trading Strategie auf Basis von COT Daten. Die
                        Strategie ermöglicht eine optimale
                        Performance mit minimalen Verlustphasen.
                    </p>
                </div>

                <div class="column fourth  column__col">
                    <img src="/images/icon-key.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Risiko Money Management</h3>
                    <p class="column__text">Ich folge einem robusten Risiko- und Moneymanagement. Ich trade mit
                        geringem Risiko.
                    </p>
                </div>

                <div class="column fourth  column__col">
                    <img src="/images/icon-light-bulb.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Fundamentale Marktauswahl </h3>
                    <p class="column__text">Ich analysiere die Märkte mit einer fundamental Analyse. Ich werte COT
                        Daten, Wetterlage, Momentum und Trend aus.
                    </p>
                </div>

                <div class="column fourth  column__col">
                    <img src="/images/icon-pin.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Richtiges Timing und Einstieg</h3>
                    <p class="column__text">Je nach Marktauswahl, warte ich das richtige Timing ab. Der Einstieg
                        erfolgt durch Price Action Patterns.
                        Das Risiko wird reduziert und Gewinne werden nach 2 bis 4 Tagen realisiert.
                    </p>
                </div>
            </div>
        </section>
    </div>





    <!-- PRICES & PLANS -->

    <section>

        <div class="box--blue-background">
            <div class="wrapper-content">
                <h2 class="box__heading--white">Mein Angebot</h2>
                <div class="row  row--no-background">
                    <div class="column  third  column__col  box__column">
                        <h3 class="box__subheading--center">Abo Copytrading</h3>
                        <p class="box__text--bigger">250 $ / Monat</p>
                        <span class="box__circle--center">1</span>
                        <p class="text--center">Eröffne ein Konto bei Roobins Trading Company in einer Höhe von 25.000$.
                        </p>
                        <span class="box__circle--center">2</span>
                        <p class="text--center">Dein Konto wird mit meinem Trading Konto verknüpft.</p>
                        <span class="box__circle--center">3</span>
                        <p class="text--center">Jeden Trade, den ich durchführe, wird auf deinem Konto kopiert.</p>
                        <span class="box__circle--center">4</span>
                        <p class="text--center">Dein Konto wächst ohne Aufwand für dich.</p>
                        <p><a href="https://t.me/ETFAmpel" class="button  button-table">Jetzt ein Konto eröffnen</a></p>
                    </div>

                    <div class="column  two-third  column__col  box__column">
                        <h3>Advisor Account bei Robinson Trading Company</h3>
                        <p>Ein Vergleich des konventionellen Wikifolio Portfolios hat gezeigt, dass die meisten
                            Wikifolio Portfolios
                            auf eine jährliche Performance von weniger als 20 % liegen. Die Performancegebühr liegt
                            bei den meisten zwischen 10 % und 15 %.
                        </p>
                        <div class="responsive-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Angenommene jährliche Account Performance</th>
                                        <th>Jährliche Kosten</th>
                                        <th>Was bleibt für dich nach einem Jahr übrig?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Advisor Account</td>
                                        <td>+50 % (Ziel ist deutlich darüber)</td>
                                        <td>12 x 250$ = 3000$ (fix)</td>
                                        <td>12.500$ - 3.000$ = 9.500$ <br> (entspricht +38 %)</td>
                                    </tr>
                                    <tr>
                                        <td>10 % Gebühr für Performance</td>
                                        <td>+30 % (bestes Wikifolio, <br> was ich gefunden habe)</td>
                                        <td>10% (abhängig von Performance)</td>
                                        <td>7.500$ - 750$ = 6.750$ <br> (entspricht +27 %)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>


            </div>
        </div>
    </section>




    <!-- CONTENT WHY US -->

    <section>
        <div class="wrapper  secondary-teaser  secondary-teaser__image--philipp">
            <h2 class="secondary-teaser__heading">Warum solltest du mir folgen?</h2>
        </div>



        <div class="wrapper-content">

            <div class="row column--no-background">
                <div class="column third  column__col">
                    <img src="/images/icon-book.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Börsenerfahrung</h3>
                    <p class="column__text">Du suchst nach einem erfahrenen Trader. Ich bin seit 2008 aktiv an der
                        Börse und
                        habe anfangs CFD's und später Aktien, Optionsscheine auf Trendaktien und Optionen gehandelt.
                        Heute handel ich
                        Futures nach COT Daten, Saisonalität und Wetteranalyse mit einer erfolgreichen Swing Trading
                        Strategie. </p>
                </div>

                <div class="column third  column__col">
                    <img src="/images/icon-hat.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Nachweisbarer Erfolg</h3>
                    <p class="column__text">Du brauchst Sicherheit. Ich habe mit meiner Futures Trading Strategie an
                        der Trading
                        Weltmeisterschaft teilgenommen. Mit 64,1 % Rendite pro Jahr den 5. Platz belegt. Ich nehme
                        dieses Jahr erneut teil.
                    </p>
                </div>

                <div class="column third  column__col">
                    <img src="/images/icon-calculator.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Analytische Denkweise</h3>
                    <p class="column__text">Du möchtest einem strategisch denkenden Menschen folgen. Ich mache meine
                        Analysen präzise
                        und sorfältig. Meine Entscheidungen treffe ich rational und auf Basis von Daten.</p>
                </div>
            </div>
    </section>
    </div>





    <!-- last call to action -->

    <section>
        <a href="#" class="button  button--final">Konto eröffnen</a>
    </section>
    </div>

    <!-- FOOTER -->


    <footer class="site-footer">
        <section>
            {% include "./components/footer.njk" %}

            <div class="wrapper-content  site-footer__text--legal">
                <p class="site-footer__text">Risiko Offenlegung: Der Handel mit ETFs, Futures oder Aktien birgt ein
                    hohes
                    Risiko und ist nicht für jeden Investor geeignet. Ein Investor kann möglicherweise mehr als das
                    eingezahlte Kapital verlieren. Für den Handel sollte nur Risikokapital verwendet werden, bzw. Teile
                    des
                    Risikokapitals. Risikokapital ist Geld, bei dessen Verlust sich keine Änderung der Finanzsituation
                    ergibt bzw. keinen Einfluss auf das Leben mit sich bringt. Eine in der Vergangenheit erzielte
                    Performance ist keine Garantie für zukünftige Gewinne.</p>
                <p class="site-footer__text">
                    Offenlegung der hypothetischen Performance: Hypothetische Performanceergebnisse haben viele
                    inhärente
                    Einschränkungen, von denen einige im Folgenden beschrieben werden. Die dargestellten Ergebnisse des
                    Kontos können in den Gewinnen und Verlusten stark abweichen. Einer der Einschränkungen der
                    hypothetischen Ergebnisse ist, dass Sie durch bekannte historische Daten entstanden sind. Darüber
                    hinaus
                    beinhaltet der hypothetische Handel kein finanzielles Risiko – kein hypothetischer Track Record kann
                    die
                    finanziellen Risiken des tatsächlichen Handels darstellen. Beispielsweise besteht die Möglichkeit,
                    dass
                    der Handel bei Verlusten ausgesetzt bzw. abgebrochen wird, dies kann die tatsächlichen Ergebnisse
                    stark
                    verändern. Des Weiteren gibt es zahlreiche weitere Faktoren die bei der Umsetzung eines
                    Handelsprogramms
                    nicht vollständig in der hypothetischen Performance berücksichtigt werden können und somit die
                    tatsächlichen Ergebnisse beeinflussen können.</p>
            </div>
        </section>
        </div>
    </footer>




</body>

</html>