<!DOCTYPE html>
<html lang="de">
    
    <head>
        {% include "./components/head.njk" %}
        <title>KW³ | Kontakt</title>
        <meta name="description" content="Wie du uns erreichst.">
    </head>
    
    <body>
        
        <div class="wrapper">
            
        <!-- Kopfleiste -->
        {% include "./components/nav.njk" %}

        <!-- TEASER -->

        <div class="main-teaser main-teaser__page-contact">
            <h1 class="main-teaser__main-heading--blue-background">Schreib uns :)</h1>
            <img class="main-teaser__icon" src="/images/icon-arrow-point.svg" width="40">
            <h2><a href=mailto:info@kw3.solutions class="main-teaser__link  link">info@kw3.solutions</a>
            </h2>
            <p class="main-teaser__text">Wir hatten keine Lust auf ein Kontaktformular. Du auch nicht? Schreib uns
                einfach eine E-Mail. Wir melden uns schnellst möglich bei dir. Danke für dein Interesse.
            </p>
        </div>




        <!-- FOOTER -->
        <footer class="site-footer">
            <section>
                {% include "./components/footer.njk" %}
            </section>
        </footer>

</body>

</html>