<!DOCTYPE html>
<html lang="de">

<head>
    {% include "./components/head.njk" %}
    <title>kw³ | Kontakt</title>
    <meta name="description" content="Die vielseitig einsetzbare Börsenampel">
</head>

<body>

    <div class="wrapper">

        <!-- Kopfleiste -->
        {% include "./components/nav.njk" %}


        <!-- Teaser -->


        <div id="backgroundimage-kontakt" class="headingoverimage">
            <h1>Schreib uns :)</h1>
            <img src="/images/icon-arrow-point.svg" width="70">
            <h2 class="headingoverimage"><a href=mailto:info@kw3.solutions class="link">info@kw3.solutions</a></h2>
            <p class="textoverimage">Wir hatten keine Lust auf Kontaktformular. Schreib uns
                einfach eine E-Mail. Wir melden uns schnellst möglich bei dir. Danke für dein Interesse.
            </p>


        </div>




        <!-- Footer -->


        <footer id="site-footer">
            <section>
                <h2>KW³ Solutions</h2>
                <p>Dein Business. Deine Freiheit.</p>



                <p><a href="/dedatenschutz">Datenschutz</a> | <a
                    href="nutzungsbedingungen">Nutzungsbedingungen</a> |
                    <a href="/derisikohinweis">Risikohinweis</a> | <a href="/deimpressum">Impressum</a>
                </p>

                <p>Copyright © 2022 KW³ Business Ltd</p>
            </section>




    </div>
    </footer>





</body>

</html>