<!DOCTYPE html>
<html lang="de">

<head>
    {% include "./components/head.njk" %}
    <title>KW³ | Gutes Webdesign</title>
    <meta name="description" content="Mit gutem Webdesign Zielgruppen überzeugen.">
</head>

<body>

    <div class="wrapper">

        <!-- HEADER -->
        {% include "./components/nav.njk" %}





        <!-- MAIN TEASER -->

        <div class="main-teaser  main-teaser__page-webdesign">
            <h1 class="main-teaser__heading">Websites für Entrepreneurs</h1>
            <p class="main-teaser__text">Du bekommst eine strukturierte und übersichtliche Website mit WOW-Effekt.
                Sie ist auf das Wesentlichste reduziert, persönlich und individuell.
                <br>
                <a href="/de/kontakt" class="button">Jetzt kontaktieren</a>
            </p>
        </div>





        <!-- CONTENT PROBLEMS-SOLUTIONS-->

        <section>
            <div class="row box--grey-background  box--desktop">
                <div class="wrapper-content">
                    <div class="column half">
                        <img class="box__icon" src="/images/icon-sad-bear.svg" width="70" height="70">
                        <h3 class="box__heading">Du möchtest...</h3>
                    </div>

                    <div class="column half">
                        <img class="box__icon" src="/images/happy-bear.svg" width="70" height="70">
                        <h3 class="box__heading">Dann brauchst du...</h3>
                    </div>

                    <div class="column half">
                        <ul class="box__ul  box__ul--padding">
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">...deinen Usern
                                eine Erlebnis bieten.</li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">...dass deine
                                Nutzer*innen auf deiner Website alles schnell finden.
                            </li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">...mehr
                                Kund*innen haben.</li>
                        </ul>
                    </div>

                    <div class="column half">
                        <ul class="box__ul  box__ul--padding">
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">...eine Website,
                                auf der sich der User einfach zu Recht findet.</li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">...eine Website
                                mit visuell ansprechenden Design, welches die Werte
                                deines Unternehmens repräsentiert.</li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">...eine richtig
                                gute Website.</li>
                        </ul>
                    </div>
                </div>
        </section>




        <!-- PROBLEM-SOLUTIONS MOBILE -->

        <section>
            <div class="row  box--grey-background  box--mobile">
                <div class="wrapper-content">
                    <div class="column half">
                        <img class="box__icon" src="/images/icon-sad-bear.svg" width="70" height="70">
                        <h3 class="box__heading--center">Du möchtest...</h3>
                        <ul class="box__ul">
                            <li class="li--center">...deinen Usern ein Erlebnis bieten.</li>
                            <li class="li--center">...dass deine Nutzer*innen auf deiner Website alles schnell finden.
                            </li>
                            <li class="li--center">...mehr Kund*innen haben.</li>
                        </ul>
                    </div>

                    <div class="column half">
                        <img class="box__icon" src="/images/happy-bear.svg" width="70" height="70">
                        <h3 class="box__heading--center">Dann brauchst du...</h3>
                        <ul class="box__ul">
                            <li class="li--center">...eine Webseite, auf der sich der User einfach zu Recht findet.</li>
                            <li class="li--center">...eine Webseite mit visuell ansprechenden Design, welches die Werte
                                deines Unternehmens und deine Einzigartigkeit repräsentiert.</li>
                            <li class="li--center">...eine richtig gute Webseite.</li>
                        </ul>
                    </div>
                </div>
        </section>






        <!-- QUOTE -->

        <section>
            <blockquote class="quote quote__page-webdesign">
                Klare Inhalte, einfache Navigation und Antworten auf Kundenfragen haben den größten Einfluss auf den
                Geschäftswert. Fortgeschrittene Technologie spielt viel weniger eine Rolle.
            </blockquote>
        </section>





        <!-- PRODUCT DETAILS -->

        <section>
            <div class="row  column--no-background">
                <h2 class="column__heading">Ich biete dir</h2>
                <div class="column  fourth  column__col">
                    <img class="column__icon" src="/images/icon-bowling.svg" width="70" height="70">
                    <h3 class="column__subheading">Inhalt & SEO</h3>
                    <p class="column__text">Was möchtest du auf deiner Website haben? Was ist wirklich wichtig?
                        Wir
                        strukturieren und ordnen deine Inhalte.
                        Ich werde deine Website fit für Google und co. machen.
                </div>

                <div class="column  fourth  column__col">
                    <img src="/images/icon-key.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Design</h3>
                    <p class="column__text">Ich stelle dir ein Farbkonzept zusammen, wähle Schriften aus,
                        definiere erste Elemente, designe ein Logo, und entwerfe Moodboards und Wireframes.
                    </p>
                </div>

                <div class="column  fourth  column__col">
                    <img src="/images/icon-light-bulb.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Code</h3>
                    <p class="column__text">Ich verpacke die Designentwürfe in eine Website, welche ich mit Html,
                        CSS
                        und Javascript schreibe.
                        Deine Website ist von Beginn an responsive: Sie sieht auf allen Geräten klasse aus.
                    </p>
                </div>

                <div class="column  fourth  column__col">
                    <img src="/images/icon-pin.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Launch</h3>
                    <p class="column__text">Wir besprechen die Entwürfe und die Website bevor sie online geht.
                        Wenn
                        nötig, arbeite ich Änderungen ein.
                        Danach wird die Website gelauncht.
                    </p>
                </div>
            </div>
        </section>




        <!-- TOOLS -->

        <section>
            <h2 class="list__heading">Ich erstelle deine Website mit dir gemeinsam. Ich lasse mein Designer
                Know-How einfließen
                und du sagst mir deine Wünsche.</h2>
            <div>
                <h3 class="list__subheading">Tools, mit denen ich arbeite</h3>

                <div class="row  list__row">
                    <div class="column fourth  column__col">
                        <p class="list__text--bigger">Adobe Photoshop</p>
                    </div>

                    <div class="column fourth  column__col">
                        <p class="list__text--bigger">Adobe Illustrator</p>
                    </div>

                    <div class="column fourth  column__col">
                        <p class="list__text--bigger">Html, CSS, Javascript</p>
                    </div>

                    <div class="column fourth  column__col">
                        <p class="list__text--bigger">Meine Augen</p>
                    </div>


                    <div class="column fourth  column__col">
                        <p class="list__text--bigger">Stift und Papier</p>
                    </div>

                    <div class="column fourth  column__col">
                        <p class="list__text--bigger">ahref</p>
                    </div>

                    <div class="column fourth  column__col">
                        <p class="list__text--bigger">Ubersuggest</p>
                    </div>

                    <div class="column fourth  column__col">
                        <p class="list__text--bigger">Adobe Stockfotos</p>
                    </div>

                    <div class="column fourth  column__col">
                        <p class="text-big">Meine Kamera</p>
                    </div>

                    <div class="column fourth  column__col">
                        <p class="list__text--bigger">Meine Empathie</p>
                    </div>

                    <div class="column fourth  column__col">
                        <p class="list__text--bigger">Excel</p>
                    </div>

                    <div class="column fourth  column__col">
                        <p class="list__text--bigger">Storytelling</p>
                    </div>
                </div>
            </div>
        </section>






        <!-- TOOLS MOBILE -->

        <section>
            <div class="list--mobile">
                <h2 class="list__heading">Ich erstelle deine Website mit dir gemeinsam. Ich lasse
                    mein Designer
                    Know-How einfließen
                    und du sagst mir deine Wünsche.</h2>
                <h3 class="list__subheading">Tools, mit denen ich arbeite</h3>
                <ul>
                    <li class="list__li">Adobe Photoshop</li>
                    <li class="list__li">Adobe Illustrator</li>
                    <li class="list__li">Adobe Stockfotos</li>
                    <li class="list__li">Meine Augen</li>
                    <li class="list__li">Meine Kamera</li>
                    <li class="list__li">Stift und Papier</li>
                    <li class="list__li">Meine Empathie</li>
                    <li class="list__li">Excel</li>
                    <li class="list__li">ahref</li>
                    <li class="list__li">Ubersuggest</li>
                    <li class="list__li">Storytelling</li>
                    <li class="list__li">Html, Css, Javascript</li>
                </ul>
            </div>
        </section>

    </div>




    <!-- PRICES & PLANS -->

    <section>
        <div class="box--blue-background">
            <div class="wrapper-content">
                <div class="row  row--no-background">
                    <h2 class="box__heading--white">Eine responsive Website, die Eindruck hinterlässt,
                        überzeugt und Käufer*innen schafft.</h2>
                    <div class="column  box__column--full">
                        <h3 class="box__subheading--center">SEO Webdesign</h3>
                        <p class="box__text--bigger">Preise werden individuell ermittelt
                        </p>
                        <ul class="box__ul">
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">Designentwürfe
                            </li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">Definition von
                                Farben,
                                Schriften, Logo und Formen</li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">Erstellen von
                                Grafiken</li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">Auswahl
                                von Fotos</li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">Codieren
                            </li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">Texten
                            </li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">SEO</li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">Korrekturen nach
                                Feedbackrunden</li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">Launch
                            </li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">Html-Vorlagen
                                für
                                Blogartikel</li>
                            <li class="box__li"><img src="/images/icon-arrow.svg" width="35" height="35">Nachbetreuung
                            </li>
                        </ul>
                        <p><a href="/de/kontakt" class="button  button-table">Ja, ich möchte mit dir reden.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- CONTENT WHY US -->

    <div class="wrapper  secondary-teaser  secondary-teaser__image--anna">
        <h2 class="secondary-teaser__heading">Warum solltest du mit mir zusammenarbeiten?</h2>
    </div>


    <div class="wrapper-content">
        <section>
            <div class="row column--no-background">
                <div class="column third  column__col">
                    <img src="/images/icon-chatting.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Individuelle Beratung</h3>
                    <p class="column__text">We need to talk ;). Dein Herzensprojekt wird zu
                        meinem.
                        So bekommst du das für dich beste Ergebnis.
                    </p>
                </div>

                <div class="column third  column__col">
                    <img src="/images/icon-open-lock.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Ehrliche Kommunikation</h3>
                    <p class="column__text">Ich werde dir nichts aufschwatzen, nur um verkaufen zu wollen.
                        Der Weg nach oben kann steinig sein.
                        Du brauchst langen Atem. Mit einer gutem Website und SEO baust du dir die Basis für deinen
                        Erfolg, gewinnst Kund*innen und verbreitest deine Botschaft in die Welt.
                    </p>
                </div>

                <div class="column third  column__col">
                    <img src="/images/icon-heart-amor.svg" class="column__icon" width="70" height="70">
                    <h3 class="column__subheading">Empathisch und motiviert</h3>
                    <p class="column__text">Wenn ich dich und dein Business verstehe, entwerfe ich eine Website, die
                        ihre Funktion erfüllt:
                        Potentielle Kund*innen werden zu Käufer*innen. Ich bin hier um dir zu helfen, deine
                        Botschaft und Business visuell,
                        grafisch und sprachlich auf den Punkt zu bringen.</p>
                </div>
            </div>
        </section>
    </div>




    <!-- last call to action -->

    <section>
        <a href="/de/kontakt" class="button  button--final">Jetzt kontaktieren</a>
    </section>
    </div>

    <!-- FOOTER -->

    <footer class="site-footer">
        <section>
            {% include "./components/footer.njk" %}
        </section>
    </footer>

</body>

</html>