@charset "utf-8";

/* 
* CSS Design
* kw³ solutions Dein Business. Deine Freiheit.
* Responsive Website 
*/

/* CONTENTS
*
* SETTINGS
* Global...................Globally available variables and config.
* GENERIC
* Box-sizing...............Better default 'box-sizing.
* BASE
* Headings.................H1 to H6 styles.
* OBJECTS
* Wrappers.................Wrapping and constraining elements.
* COMPONENTS
* Page-head................The main page header.
* Page-foot................The main page footer.
* Buttons..................Button elements.
*/

/* ---------------------------------*\
    #VARIABLES & #CONFIG
\* ---------------------------------*/

:root{
    --background-color: #fff;
    --darker-background-color: #f5f5f5;
    --accent-color: #ff6b35;
    --text-color: #171614;
    --navbar-height: 80px;
}


html {
    font-size:100%; /*Browserstandard 16px*/
    scroll-behavior: smooth;
}


img {
    max-width:100%; /*images responsive*/
}





/* ---------------------------------*\
    #RESET & #BOXSIZING
\* ---------------------------------*/

* {
    margin: 0;
    padding: 0;
    -mozbox-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    




/* ---------------------------------*\
    #LAYOUT
\* ---------------------------------*/

body { 
    font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: var(--text-color);  
    background: #fff;  
}


header {
    padding: 10px 3%;
    background: #fff;
    margin-bottom: 0; 
}


section {
    padding: 0;
    display: block;
}






/* ---------------------------------*\
    #WRAPPER
\* ---------------------------------*/

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper__blog {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    padding: 25px;
}
.wrapper-content {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper-content-rights {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 60px;
}

.wrapper-content-blog {
    max-width: 730px;
    margin: 0 auto;
    overflow: hidden;
}





/* ---------------------------------*\
    #HEADINGS
\* ---------------------------------*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: 'Cera Pro', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 58px;
    font-size: 3.625rem;
    margin-bottom: 15px;
    line-height: 1.2;
    margin-top: 150px;   
}

h2 {
    font-size: 36px;
    font-size: 2.25rem;
    text-align: left;
    margin-bottom: 25px;
}

h3{
    font-size: 28px;
    font-size: 1.75rem;
    margin-bottom: 16px;
}

h4{
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

h5{
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: 8px;
}

h6{
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 4px;
}

p{
    font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 24px;
}





/* ---------------------------------*\
    #NAVIGATION
\* ---------------------------------*/

.logo {
    padding-left: 50px;
}

header nav {
    height: var(--navbar-height);
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    
}

nav ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav li{
    height: 100%;
    text-align: center;
    position: relative;
    font-size: 22px;
    font-size: 1.375rem;
    font-family: 'Quattrocento', Arial, Helvetica, sans-serif;
    padding: 20px;
    
}

nav a:hover{
    color: #ff6b35;   
    
}

nav ul a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 20px;
    color: var(--text-color);
}

.dropdown{
    height: min-content;
    background: var(--background-color);
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
}

.dropdown li{
    height: var(--navbar-height);
    width: 100%;
    border-bottom: 2px solid #ff6b35;
    padding: 10px;
}


.dropdown li a{
    justify-content: flex-start;
    padding-left: 20px;
}

nav li:hover .dropdown{
    display: flex;
}

.expandable-li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 30px;
}

.expandable-li:hover, .active{
    color: #ff6b35;
}

.toggle-button{
    width: 35px;
    height: 25px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.bar{
    height: 4px;
    width: 100%;
    background: #171614;
    border-radius: 4px;
}

nav input[type="checkbox"]{
    display: none;
}





/* ---------------------------------*\
    #TEASER-HOMEPAGE
\* ---------------------------------*/

.main-teaser-homepage {
    padding-left: 10%;
    margin-bottom: 90px;
}

.main-teaser-homepage--mobile {
    display: none;
}

.main-teaser-homepage__image {
    width: 70%;
    float: right;
    margin-right: 15%;
    margin-top: 100px;
   }





/* ---------------------------------*\
    #TEASER-SUBPAGES
\* ---------------------------------*/

.main-teaser {
      
    width: 100%;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -90px;
}

.main-teaser__icon {
    margin-left: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.main-teaser__link {
    padding-top: 2%;
    margin-left:10%;  
}

.main-teaser__heading {
    color: #fff;
    width: 50%;
}

.main-teaser__main-heading--blue-background {
    background: #5995ED;
    padding: 10px;
    width: 32%;
    margin-top: 10%;
    margin-left: 10%;
    color: #fff;
    text-align: center;
}

.main-teaser__text {
    padding-bottom: 5%;
}

.main-teaser__page-contact {
    background-image: url("../images/image-teaser-kontakt.jpg");
    margin-bottom: -90px;
    background-position: center;
    padding-top: 10%;

}

.main-teaser__page-seo{
    background-image: url('../images/image-teaser-seo.jpg');
    background-position: center;
}

.main-teaser__page-sp500-strategie{
    background-image: url('../images/image-teaser-sp500.jpg'); 
    background-position: center;
    
}

.main-teaser__page-copy-trading{
    background-image: url('../images/image-teaser-copytrading.jpg');
    background-position: right;  
}

.main-teaser__page-webdesign{
    background-image: url('../images/image-teaser-webdesign.jpg');
    background-position: center;
}

.main-teaser__page-wer-wir-sind {
    background-image: url('../images/image-teaser-wer-wir-sind.jpg');
    background-position: center;
    margin-bottom: 90px;
}

.main-teaser__heading {
    padding-top: 10%;
    padding-left: 10%;
    width: 50%;   
}

.main-teaser__text {
    width: 36%;
    padding-left: 10%;
    padding-bottom: 10%;
    margin-bottom: 0;
}

.box__main-heading {
    color: #fff;
}



/* ---------------------------------*\
    #BUTTONS
\* ---------------------------------*/

.button {
    color: #fff;
    background: #ff6b35;
    padding: 15px 20px;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 20px;
}

.button-table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}

.button--final{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40% 120px 40%;
}

.button:hover {
    background: #780116; 
}




/* ---------------------------------*\
    #LINKS
\* ---------------------------------*/

.link {
    color: #ff6b35;
    text-decoration: none;
}

.link--background {
background: #fff;
padding: 6px;
font-weight: bold;
}

.link--background:hover {
    background: #ff6b35;
    color: #fff;
}

.link:hover {
    border-bottom: 1px solid #ff6b35;
    padding-bottom: 4px;
}

.link__blog {
    text-decoration: none;
    color: #171614;
}

.link__blog:hover {
    cursor: pointer;
}





/* ---------------------------------*\
    #SECONDARY-TEASER #WHY US
\* ---------------------------------*/

.secondary-teaser {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 20px;
    margin-top: -90px;
}

.secondary-teaser__image--anna {
    background-image: url('../images/image-warum-anna.jpg');
    background-position: left;
    padding-top: 5%;
    padding-bottom: 25%;
    padding-left: 35%;
}

.secondary-teaser__image--philipp{
    background-image: url('../images/image-warum-philipp.jpg');
    padding-top: 5%;
    padding-bottom: 30%;
    padding-left: 15%;
    padding-right: 40%;
    background-position: center;
}

.secondary-teaser__image{
    background-image: url('../images/image-warum-wir.jpg');
    padding-top: 5%;
    padding-bottom: 25%;
    padding-left: 30%;
    padding-right: 20%;
    background-position: top left;  
}

.secondary-teaser__heading{
    width: 50%;
    color: #fff;
    margin-top: 20px;
}




/* ---------------------------------*\
    #BOX #PRICES & PLANS
\* ---------------------------------*/

.box__heading--center,
.box__subheading--center {
    text-align: center;
}

.box__text--bigger {
    font-size: 24px;
    font-family: 'Quattroento Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    padding: 8px 0;
}

.box__subheading--left {
    text-align: left;
}

.box__heading--white{
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 90px;
    padding: 0 25px;
}

.box__text--smaller {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.box__text--big-color {
    color: #ff6b35;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Cera Pro', Arial, Helvetica, sans-serif;
    text-align: center;
}

.box__column {
    background: #fff;
    padding:60px;
    border: 20px solid #5995ED;
    height: min-content;
}

.row--no-background {
    background: none;
    margin-bottom: 90px;
}

.box--blue-background{
    background: #5995ED;
    padding-bottom: 90px;
    margin-bottom: 90px;
}

.box__column--full{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    background: #fff;
    border: 20px solid #5995ED;
    padding: 50px;
}

.box__circle {
    border-radius: 50%;
    background: #ff6b35;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 8px;
    margin-top: 10px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding-top: 3px; 
}

.box__circle--center {
    border-radius: 50%;
    background: #ff6b35;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding-top: 3px; 
}

.text--center {
    text-align: center;
}

.text--grey {
    color: #DCDCDC;
}

.box__table {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    justify-items: center;
}







/* ---------------------------------*\
    #COLUMNS
\* ---------------------------------*/

.column__col {
    padding: 25px;
}

.column__col--color {
    padding: 90px 90px;
}

.column--no-background {
    background: none;
    margin-bottom: 90px;
}

.column__heading {
    text-align: center;
    margin-bottom: 60px;
    padding-left: 25px;
    padding-right: 25px;
}

.column__subheading {
    text-align: center;
    margin-top: 20px;
}

.column__text {
    text-align: center;
}

.column__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}






/* ---------------------------------*\
    #LINE CHART #CHART
\* ---------------------------------*/


.chart__heading {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.chart__input {
    padding: 20px;
    margin-right: 20px;
  }

  .chart__p {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 15px;
  }
  
  
  
  #chart-dialog {
    padding: 1rem 2rem;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 6;
    width: 75vw;
    margin: 100px auto;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  #chart-dialog button {
    background-color: #ff6b35;
    border: none;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
  
  #chart-dialog button:active,
  #chart-dialog button:focus {
    transform: scaleY(0.95);
    outline: 1px solid #780116;
  }
  
  #chart-dialog .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: #fff;
    z-index: -1;
  }
  
  #interactive-chart,
  #chart-controls {
    margin: 0 12px;
  }
  
  label[for="start-year"] {
    position: relative;
  }
  
  #year-picker {
    display: none;
  }
  
  input#start-year:focus + #year-picker,
  #year-picker:hover {
    position: absolute;
    z-index: 1;
    top: 24px;
    left: 64px;
    display: grid;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 0px 6px rgba(0,0,0,0.33);
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  
  #year-picker li {
    padding: 4px 12px;
  }
  #year-picker li:hover {
    cursor: pointer;
    font-weight: bold;
  }
  
  #year-picker li + li {
    border-top: 1px solid lightgray;
  }


/* ---------------------------------*\
    #WERTE
\* ---------------------------------*/

.column__col--blue {
    background: #5995ED;
}

.column__col--orange {
    background: #ff6b35;
}

.column__col--red {
    background: #780116;
}

.column__col--darkblue {
    background: #253C78;
}

.box__heading-four--white {
    color: #fff;
}

.box__text--white {
    color: #fff;
    margin-bottom: 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.8;
}




/* ---------------------------------*\
    #BLOG
\* ---------------------------------*/

.blog__article {
    margin-right: 2%;
    width: 30.5%;
    border: 1px solid #DCDCDC;
}

.blog__details {
padding: 8%;
}

.box--orange-background {
    background: #ff6b35;
    padding-bottom: 90px;
    margin-bottom: 90px;
}

.blog__article:first-child {
    margin-left: 2%;
    }

.blog__subheading {
    margin-top: 50px;
}





/* ---------------------------------*\
    #ARTICLE
\* ---------------------------------*/

.article__main-heading {
    color: #171614;
    width: 90%;
}

.article__info-box {
    margin-top: 25px;
}

.article__info-box, .article__info {
    display: flex;
}

.article__info {
    margin-right: 35px;
}

.article__info--icon {
    margin-right: 15px;
}

.article__list {
    font-size: 18px;
    color: #171614;
    border-left: 2px solid #ff6b35;
    padding: 5px 0 5px 40px;
}

.article__list li {
    padding-left: 5px;
}

.article__heading-two {
    margin-top: 75px;
}

.article__heading-three {
    margin-top: 50px;
}

.article__figure {
    margin-top: 50px;
    border-left:2px solid #ff6b35;
    padding: 5px 0 5px 25px;
    margin-bottom: 50px;
}

.article__caption {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.7;
    margin-top: 10px;
}

.article__list--order {
    list-style: decimal;
    padding-left: 25px;
    font-size: 18px;
    margin-bottom: 25px;
    border-left:2px solid #ff6b35;
    padding: 5px 0 5px 40px;
}

.article__list--order li {
    padding-left: 10px;
}

.article__box {
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px solid #ff6b35;
    width:80%;
    padding: 0 10px;
}

.article__box--info {
    color: #fff;
    text-align: center;
}

.article__box--info-item {
    background-color: #ff6b35;
    padding: 5px 10px;
    margin-top: 80px;
    margin-bottom: 30px;   
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}






/* ---------------------------------*\
    #TOC
\* ---------------------------------*/


.toc {
    height: 100%;
    width: 260px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 180px;
    margin-left: 20px;
    float: left;
    position: fixed;
    
}

.toc__link {
    text-decoration: none;
    list-style: none;
    display: block;
    padding: 2px 0;
    color: #171614;
    transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.toc__link:hover,
.toc__link:focus {
color: #ff6b35;
}





/* ---------------------------------*\
    #ICON
\* ---------------------------------*/

.box__icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 12px;
}






/* ---------------------------------*\
    #SHARE BUTTON
\* ---------------------------------*/

.animated_share {
    position: relative;
    margin-left: 200px;
    margin-bottom: 40px;
}

.animated_share_btn {
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ff6b35;
    position: relative;
}

.animated_share_btn a {
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    color: #ff6b35;
}

.animated_share_btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ff6b35;
    transition: 0.5s ease-in-out;
}
.animated_share_btn:after {
    content: "Share";
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}
.animated_share_btn:hover:before,
.animated_share_btn:hover:after {
    left: -100%;
}


/* ---------------------------------*\
    #QUOTE
\* ---------------------------------*/

.quote{
    font-size: 28px;
    color: #242325;
    text-align: center;
    margin-bottom: 220px;
    padding: 0 220px;
}

.quote:before{
    content: '"';
    color: #ff6b35;
    font-size: 100px;
    display: block;
    margin-top: 0;
}

.quote:after {
    font-size: 16px;
    color: #242325;
    display: block;
    margin-top: 12px;
}

.quote__page-seo::after {
    content: "Nina Baumann";
}

.quote__page-sp500-strategie:after {
    content: "André Kostolany";
}

.quote__page-copy-trading:after {
    content: "Mein tägliches Mantra";
    font-size: 16px;
}

.quote__page-webdesign:after {
    content: "Jakob Nielsen";
}

.quote__page-wer-wir-sind:after {
    content: "Neale Donald Walsch";
}

.quote__page-wer-wir-sind {
    padding: 0 24px;
    margin-top: 30px;
    margin-bottom: 90px;
}




/* ---------------------------------*\
    #TABELLE
\* ---------------------------------*/

.responsive-table{
    overflow-x: auto;
}

table, 
thead, 
th, 
tr, 
tbody{
 border-collapse: collapse;
 } 

 thead{
    text-align: left;
 }

thead, tbody{
    background: #fff;
}

th{
    padding: 20px;
    border-bottom: 2px solid #ff6b35;
}

td{
    border-bottom: 1px solid #DCDCDC;
    padding: 25px 10px;

}





/* ---------------------------------*\
    #LISTS MOBILE
\* ---------------------------------*/

.list--mobile{
    color: #171614;
    font-size: 18px;
    display: none;
    list-style: none;
    text-align: center;    
}

.list__li{
    padding: 8px 0;
    list-style: none;
    margin-top: 10px;
}






/* ---------------------------------*\
    #LISTS
\* ---------------------------------*/

.list__row{
    background: #ff6b35;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    border-bottom: solid 2px #fff;
    padding: 60px 30px;
}

.list__heading {
text-align: center;
padding: 0 15%;
}

.list__subheading {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 25px;
}

.list__text--bigger{
    font-size: 24px;
}

.list__link {
    margin-bottom: 5px 0;
}

.box__link {
    margin-left: 42px;
}






/* ---------------------------------*\
    #BOX #PROBLEMS-SOLUTIONS
\* ---------------------------------*/

.box--full-width {
    margin: auto;
}

.box--mobile {
    display: none;
}

.box--grey-background {
    background: #f5f5f5;
    margin-bottom: 120px;
}

.row.box--grey-background {
    padding: 60px;
}

.box__text--center {
    width: 60%;
    margin: auto;
    padding-bottom: 30px;
    text-align: center;
}

.box__list {
    padding-right: 40px;
}

.box__heading {
    padding-left: 15px;
    padding-top: 20px;
}

.box__heading-fourth--center {
    text-align: center;
}

.box__icon, .box__heading {
    display: inline;
    float: left;
}

.box--grey-background .half{
padding: 0;
}

.box__image { 
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: 1px solid #ff6b35;
    padding: 10px;
}

.column__third--smaller {
    width: 20%;
}

.column--full-smaller {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
}

.column--mobile {
    display: none;
}

.box__ul {
    list-style: none;  
    margin-bottom: 10px;
    
}

.box__ul--padding {
    margin-left: 85px;
}

.box__li {
    margin-bottom: 5px;
}

.box__li img{
    padding-right: 10px;
    padding-top: 15px;
    display: inline;
}





/* ---------------------------------*\
        #FAQ
\* ---------------------------------*/

.container {
  margin: 0 auto;
  padding: 25px;
  width: 80%;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #171614;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #ff6b35;
}

.accordion a.active {
  color: #ff6b35;
  border-bottom: 1px solid #ff6b35;
}
.accordion a::after {
    font-family: 'Ionicons';
    content: '\f218';
    position: absolute;
    float: right;
    right: 10px;
    font-size: 1rem;
    color: #171614;
    text-align: center;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #ff6b35;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  color: #171614;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

.faq__heading--center {
    text-align: center;
}

.faq__table {
    color: #171614;
    text-align: center;
}

.faq__table th {
    border-bottom: 2px solid #242325; 
}

.faq__table td {
    font-size: 16px;
}

.faq__table--notation {
    margin-top: 10px;
}





/* ---------------------------------*\
        #LINE CHART
\* ---------------------------------*/

#main{
    margin: 90px 0;
    float: left;
    width: 100%;
    height: 600px;
}





/* ---------------------------------*\
        #FOOTER
\* ---------------------------------*/

.site-footer{
    background: #5995ED;
    padding: 90px 0;
    width: 100%;
    float: left;
    margin-top: 90px;
}

.site-footer__link--center{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

.site-footer__link--center:hover{
    color: #171614;
}

.site-footer__text--center{
    color: #fff;
    margin-bottom: 25px;  
    text-align: center; 
}

.site-footer__text{
    color: #fff;
    margin-bottom: 25px;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.7; 
    padding-left: 25px;
    padding-right: 25px;
}

.site-footer__text--legal {
    padding-top: 60px;
}

.site-footer__heading{
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}





/* #Raster * * * * * * * * */

.row{
    width: 100%;
    float: left;
}

.weiß{
    background: #fff;
    margin-top: 90px;
}

.column {
    float: left;
}

.full{
width: 100%;
}

.half{
width: 50%;

}

.third{
    width: 33%;
}

.two-third{
    width: 66%;
  
}

.fourth{
    width: 25%;
}

/* Media Queries * * * * * * * * */

@media only screen and (min-width:980px) and (max-width:1920px){



}

@media only screen and (min-width:760px) and (max-width:979px){

/* ---------------------------------*\
    #LAYOUT
\* ---------------------------------*/

.main-teaser {
    margin-top: 60px;
}

.main-teaser__page-copy-trading {
    background-position: center;
}

.wrapper-content {
    padding: 0 24px;
}

.logo{
        padding: 0;
        width: 80px;
        margin-left: 40px;
        margin-top: 10px;
       }




/* ---------------------------------*\
    #NAVIGATION
\* ---------------------------------*/



.toggle-button{
    display: flex;
}

nav {
    height: 70px;
}

nav ul {
    height: min-content;
    width: 100%;
    background: #fff;
    display: none;
    position: absolute;
    top: 70px;
}

nav li {
    height: min-content;
    width: 100%;
    padding: 0;
}

nav ul a {
    padding: 30px 0;
}

nav li, 
.expandable-li {
    margin-left: 0;
}

.expandable-li {
    display: block;
}

.expandable-li:hover .dropdown {
    display: none;
}

.expandable-li input[type="checkbox"]:checked ~ .dropdown{
    display: block;
}

.dropdown {
    position: static;
    width: 100%;
}

.dropdown li {
    padding: 0;
    display: block;
    position: static;
    background: #fff;
}

.dropdown li a {
    width: 100%;
    padding: 0;
    justify-content: center;
}

#toggle-button:checked ~ ul {
    display: block;
}





/* ---------------------------------*\
    #HEADINGS
\* ---------------------------------*/

h1{
    font-size: 48px;
    margin-top: 0;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 24px;
}





/* ---------------------------------*\
    #BUTTON #LINKS
\* ---------------------------------*/

.button-last{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35%;
}




/* ---------------------------------*\
    #TEASER-HOMEPAGE
\* ---------------------------------*/

.main-teaser-homepage__image{
    margin-top: 0;
}

.main-teaser-homepage{
    padding: 5%;
}

.main-teaser__text{
    width: 50%;
}





/* ---------------------------------*\
        #BLOG #ARTICLE
\* ---------------------------------*/

    .article__main-heading {
        margin-top: 120px;
        width: 100%;
    }




 /* ---------------------------------*\
    #TOC
\* ---------------------------------*/

.toc {
    display: none;
}



/* ---------------------------------*\
    #RASTER
\* ---------------------------------*/


.row{
    margin: 0 0 30px;
}












/* ---------------------------------*\
    #QUOTE
\* ---------------------------------*/






/* ---------------------------------*\
    #TEXT-LEGAL
\* ---------------------------------*/

.wrapper-content-rights, .wrapper-content-blog {
    padding: 0 25px;
}

.colored-background h1{
    padding: 90px 0 0;
}





/* ---------------------------------*\
    #TOOLS
\* ---------------------------------*/

#tools-list{
    display: block;
}

#tools{
    display: none;
}





/* ---------------------------------*\
    #BOX #PROBLEMS SOLUTIONS
\* ---------------------------------*/

.column__third--smaller {
    width: 40%;
}

}

@media only screen and (max-width:759px){

    /* ---------------------------------*\
        #LAYOUT
    \* ---------------------------------*/
    
    .wrapper-content-rights, .wrapper-content-blog {
        padding-left: 25px;
        padding-right: 25px;
    }

    .main-teaser {
        margin-top: 90px;
        padding: 60px 0;
    }
    
    header {
        padding: 0;
    }
   
   .logo {
    padding: 0;
    width: 80px;
    margin-left: 20px;
    margin-top: 10px;
   }

   .logo:hover{
    border-bottom: none;
    cursor: pointer;
   }

    .toggle-button{
        display: flex;
    }

    nav {
        height: 70px;
    }

    nav ul {
        height: min-content;
        width: 100%;
        background: #fff;
        display: none;
        position: absolute;
        top: 70px;
    }

    nav li {
        height: min-content;
        width: 100%;
        padding: 0;
    }

    nav ul a {
        padding: 30px 0;
    }

    nav li, 
    .expandable-li {
        margin-left: 0;
    }

    .expandable-li {
        display: block;
    }

    .expandable-li:hover .dropdown {
        display: none;
    }

    .expandable-li input[type="checkbox"]:checked ~ .dropdown{
        display: block;
    }

    .dropdown {
        position: static;
        width: 100%;
    }

    .dropdown li {
        padding: 0;
        display: block;
        position: static;
        background: #fff;
    }

    .dropdown li a {
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    #toggle-button:checked ~ ul {
        display: block;
    }






    /* ---------------------------------*\
        #HEADINGS
    \* ---------------------------------*/

    h1 {
        font-size: 36px;
        margin-top: 0;
    }

    .heading-one__mobil {
        font-size: 36px;
        margin-top: 0;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

   



    /* ---------------------------------*\
        #BUTTONS #LINKS
    \* ---------------------------------*/

    .button{
        margin-bottom: 30px;
    }

    .button--final{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20% 90px;
    }





    /* ---------------------------------*\
        #TEASER-HOMEPAGE
    \* ---------------------------------*/
       
    .main-teaser-homepage {
       display: none;
    }

    .main-teaser-homepage--mobile {
        display: block;
    }

    .main-teaser-homepage__image {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 90px;
        margin-bottom: 15px;
    }

    .main-teaser-homepage--mobile {
        padding:  0;
    }
   



    
    /* ---------------------------------*\
        #TEASER-SUBPAGES
    \* ---------------------------------*/

    .main-teaser__text {
        width: 86%;
        padding: 0 10%;
        margin-bottom: 0;
    }

    .main-teaser__heading {
        width: 80%;
        padding-top: 30px;
    }

    .box__column--full {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .box__column {
        padding: 40px 25px;
    }

   .main-teaser__page-seo {
        background-image: url("../images/image-teaser-seo.jpg");
        background-position: center;
        margin-bottom: 0;    
    }

   .main-teaser__page-webdesign {
        background-image: url("../images/image-teaser-webdesign-mobile.jpg");
        background-position: center;
        margin-bottom: 0;
    }

    .main-teaser__page-sp500-strategie {
        margin-bottom: 0;
        background-position: right;
    }

    .main-teaser__main-heading--blue-background {
        width: 55%;
    } 

    .main-teaser__page-copy-trading {
        background-position: center;
    }

    .secondary-teaser__heading {
        width: 100%;
    }

    .secondary-teaser__image--philipp {
        padding-left: 10%;
        padding-right: 50%;
    }





    /* ---------------------------------*\
        #CONTENT #BOX PROBLEMS-SOLUTIONS
    \* ---------------------------------*/

    .box--mobile {
        display: block;
    }

    .row.box--grey-background {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 30px;
    }

    .box--mobile .half {
        padding-bottom: 0;
    }

    .box--desktop {
        display: none;
    }

    .box__icon,
    .box__heading {
          float: none;
           display: block;
           text-align: center;
    }

    .box--mobile .half{
        padding-bottom: 40px;
    }

    .box__text--center {
        width: 100%;
    }

    .li--center {
        text-align: center;
        margin: 10px;
    }

    .box__list--icon {
            margin-bottom:10px;
            list-style:none;  
    }

    .box__list--icon img{
        display:inline;
        padding-right:10px;
        padding-top:15px;
        margin-left: 85px;
    }

    
    
   
    
    
    

    /* ---------------------------------*\
        #LIST
    \* ---------------------------------*/
   
    .list__heading {
        padding: 0 25px;
    }




    /* ---------------------------------*\
        #COLUMN
    \* ---------------------------------*/

    .column__col {
        padding: 25px;
        float: left;
    }

    .column__col--color {
        padding: 60px 40px;
    }

    .column__third--smaller {
        width: 100%;
    }

    





    /* ---------------------------------*\
        #SECONDARY TEASER 
    \* ---------------------------------*/

    .secondary-teaser__image--anna {
        padding-left: 10%;
        padding-top: 50%;
        padding-bottom: 5%;
    }

    .secondary-teaser__image{
        background-position: top left;
        padding-left: 8%;
        padding-bottom: 5%;
        padding-right: 30%;
        padding-top: 40%;
    }




    /* ---------------------------------*\
        #LEGAL 
    \* ---------------------------------*/

    .wrapper-content-rights{
        padding: 0 24px;
    }

  

    /* ---------------------------------*\
        #QUOTE 
    \* ---------------------------------*/

    .quote{
        padding: 0 25px;
        margin-bottom: 160px;
        font-size: 24px;
    }





    /* ---------------------------------*\
        #LIST #TOOLS 
    \* ---------------------------------*/

  



    /* ---------------------------------*\
        #BLOG #ARTICLE
    \* ---------------------------------*/

    .box--orange-background {
        margin-top: 90px;
    }

    .box__main-heading {
    margin-top: 90px;

    }
    .blog__article {
        width: 100%;
        margin-bottom: 40px;
        height: fit-content;
    }


    .article__main-heading {
        margin-top: 120px;
        width: 100%;
    }

    

   /* ---------------------------------*\
    #TOC
\* ---------------------------------*/


.toc {
    display: none;
    
}





/* ---------------------------------*\
        #SHARE BUTTON 
\* ---------------------------------*/

.animated_share {
    display: none;
}

    /* ---------------------------------*\
        #RASTER 
    \* ---------------------------------*/

    .half {
        width: 100%;
    }

    .third{
        width: 100%;
    }

    .two-third{
        width: 100%;
    }

    .two-third-third{
        width: 100%;
     }

    .fourth{
        width: 100%;
    }

}