.chart__input {
  padding: 20px;
  margin-right: 10px;
}

.chart__p {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
}

.chart__input {
  margin-left: 20px;
  margin-right: 40px;
}

.chart__input:focus {
  outline: 1px solid #ff6b35;
  outline-offset: 2px;
}

#chart-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}


#chart-dialog {
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 6;
  width: 75vw;
  margin: 100px auto;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#chart-dialog button {
  background-color: #ff6b35;
  border: none;
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

#chart-dialog button:active,
#chart-dialog button:focus {
  transform: scaleY(0.95);
  outline: 1px solid #780116;
}

#chart-dialog .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: #fff;
  z-index: -1;
}

#interactive-chart {
  margin: 0 12px;
}

label[for="start-year"] {
  position: relative;
}

#year-picker {
  display: none;
}

input#start-year:focus + #year-picker,
#year-picker:hover {
  position: absolute;
  z-index: 1;
  top: 24px;
  left: 64px;
  display: grid;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 0px 6px rgba(0,0,0,0.33);
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#year-picker li {
  padding: 4px 12px;
}
#year-picker li:hover {
  cursor: pointer;
  font-weight: bold;
}

#year-picker li + li {
  border-top: 1px solid lightgray;
}