<h2 class="site-footer__heading">KW³ Solutions</h2>
<p class="site-footer__text--center">Dein Business. Deine Freiheit.</p>
<p class="site-footer__text--center">
    <a class="site-footer__link--center" href="/de/datenschutz">Datenschutz</a> |
    <a class="site-footer__link--center" href="/de/nutzungsbedingungen">Nutzungsbedingungen</a> |
    <a class="site-footer__link--center" href="/de/risikohinweis">Risikohinweis</a> |
    <a class="site-footer__link--center" href="/de/impressum">Impressum</a>
</p>
<p class="site-footer__text--center">Copyright © 2022 KW³ Business Ltd</p>